@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@100;200;300&display=swap");
@import "../../../styles/variable.scss";

.Members {
  h2 {
    position: relative;
    padding-left: 10px;
    &::before {
      content: "";
      position: absolute;
      left: 0px;
      top: 0;
      height: 50%;
      width: 5px;
      background: $emphasis;
    }
    font: 2.5rem/1 "Noto Sans KR", sans-serif;
  }

  content {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    display: flex;

    .leftBox {
      width: 65%;

      // padding: 0px 2%;
      table {
        width: 100%;
        border: none;
        border-top: 2px solid #333;
        border-bottom: 2px solid #333;
        border: 2px solid #333;

        th {
          width: 20%;
          border: none;
          border-bottom: 1px solid #bbb;
          padding: 15px 30px;
          text-align: left;

          &:last-child {
            text-align: center;
            input[type="submit"],
            input[type="reset"] {
              border: none;
              background: none;
              // border: 1px solid #aaa;
              width: 150px;
              height: 30px;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              margin: 0px 10px;
              cursor: pointer;

              &:hover {
                scale: 1.1;
              }
            }

            input[type="submit"] {
              color: $emphasis;
            }
          }
        }

        td {
          border: none;
          border-bottom: 1px solid #bbb;
          border-left: 1px solid #bbb;
          padding: 15px 30px;

          input[type="text"],
          input[type="password"],
          textarea,
          select {
            width: 40%;
            border: 1px solid #aaa;
            padding: 6px 10px;
            background: #fff;
            resize: none;
          }
          input[type="radio"],
          input[type="checkbox"] {
            display: inline;
            width: auto;
            margin-right: 4px;
          }
        }

        p {
          font: 0.8rem/1.2 "돋움";
          color: hotpink;
          margin-top: 5px;
        }
      }
      p {
        text-indent: 1vw;
      }
    }
    .rightBox {
      width: 33%;
      margin-top: 1.5rem;
      // padding: 2%;

      p {
        color: #333;
      }
      .inner {
        background: #fff;
        padding: 2%;
        article {
          margin-top: 10px;
          .con {
            margin-top: 10px;
            display: flex;

            .txt {
              padding-left: 3%;
            }
          }
        }
      }

      // padding-left: 2%;

      // h3 {
      //   margin-top: 40px;
      //   padding-bottom: 10px;
      //   border-bottom: 2px solid #333;

      //   &:nth-of-type(1) {
      //     padding-bottom: 0;
      //     margin-top: 0;
      //     // border: none;
      //   }
      // }
      // p {
      //   margin-top: 10px;
      // }
      // width: 35%;
    }
  }
}
