@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@600;700&display=swap");
@import "../../../styles/variable.scss";

.Youtube {
  h2 {
    font: 2.5rem/1 "Noto Sans KR", sans-serif;
    margin-bottom: 50px;
  }
  article {
    width: 100%;
    display: flex;
    height: auto;
    border: solid 2px #d5d5d5;
    background: white;

    &:hover {
      box-shadow: 1px 1px 20px #ddd;
      scale: 1.05;
    }
    .pic {
      width: 40%;

      img {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        cursor: pointer;
      }
    }

    .info {
      width: 60%;
      padding: 1.5%;
      padding-bottom: 0%;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;

      .innerTopText {
        h3 {
          display: block;
        }
        p {
          width: 100%;
          display: block;
          font-weight: bold;
          margin-top: 3px;
        }
      }

      p {
        word-wrap: break-word;
        color: gray;
      }

      .date {
        font-weight: bold;
        color: $emphasis;
        width: 100%;
      }

      .btnSet {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        button {
          padding: 1%;
          background: white;
          border: none;
          border: solid 2px #d5d5d5;
          border-bottom: none;

          &:hover {
            background: #d5d5d5;
            color: white;
          }
        }
      }
    }
    margin-bottom: 30px;
  }
}

// .tablet,
// .mobile {
//   .Youtube {
//     .content {
//       article {
//         flex-wrap: wrap;

//         &:nth-of-type(even) {
//           flex-direction: row;
//         }

//         .titBox {
//           width: 48%;
//         }
//         .conBox {
//           width: 48%;
//         }
//         .picBox {
//           width: 100%;
//           margin-top: 30px;
//         }
//       }
//     }
//   }
// }

// //mobile
// .mobile {
//   .Youtube {
//     .content {
//       article {
//         .titBox {
//           width: 100%;
//         }
//         .conBox {
//           width: 100%;
//         }
//       }
//     }
//   }
// }
