footer {
  padding: 2% 10vw;
  background: white;
  border-top: solid 4px black;

  .top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .menu {
      width: 65%;
      display: flex;
      justify-content: space-between;

      ul {
        li {
          color: #585858;
          margin-bottom: 10px;
          position: relative;
          &:hover {
            scale: 1.1;
            cursor: pointer;
            font-weight: bolder;
          }
          h3 {
            color: #585858;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
  .lower {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    .sns {
      display: flex;
      width: 10%;
      justify-content: space-between;

      li * {
        &:hover {
          scale: 1.1;
        }
      }
    }
  }
}

.mobile {
  footer {
    display: none;
  }
}
