@import "../../../styles/variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@100;200;300&display=swap");

.Gallery {
  .topBox {
    display: flex;
    height: auto;
    justify-content: space-between;
    flex-wrap: wrap;

    .title {
      display: flex;
      height: 100%;
      align-items: center;

      h2 {
        font: 2.5rem/1 "Noto Sans KR", sans-serif;
        margin-right: 2.5vw;

        b {
          color: #808080;
        }
      }

      p {
        color: gray;
      }
    }

    .searchBox {
      label {
        color: gray;
        font-weight: bold;
      }

      form {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        input {
          flex: 1;
          height: 50px;
          padding: 10px;
          margin-top: 0;
        }

        button {
          background: $emphasis;
          color: #fff;
          height: 50px;
          cursor: pointer;
        }
      }
    }
  }

  .btnSet {
    margin-top: 40px;
    display: flex;
    gap: 2vw;

    button {
      padding: 1%;
      border: none;
      border: solid 1px #e3e3e3;
      background: #fff;
      color: #585858;

      &:hover {
        scale: 1.1;
      }
    }

    button.on {
      background: $emphasis;
      color: white;
    }
  }

  .picFrame {
    margin-top: 40px;
    width: 100%;

    &::after {
      content: "";
      display: block;
      clear: both;
    }

    article {
      width: 25%;
      padding: 10px;

      .inner {
        width: 100%;
        padding: 2%;
        height: 100%;
        position: relative;
        background: #fff;
        box-shadow: 1px 1px 20px #ececec;

        .pic {
          width: 100%;
          height: 80%;
          position: relative;

          .galleryImg {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }

          .search {
            border-radius: 100%;
            margin: 1%;
            padding: 1%;
            position: absolute;
            right: 0;
            bottom: 0;
            object-fit: contain;
            width: 10%;
            height: 10%;

            &:hover {
              scale: 1.05;
            }
          }
        }
      }

      .lower {
        padding: 0px 2%;

        h3 {
          font-family: "Noto Sans KR";
          margin-top: 5px;
          font-size: 0.85rem;
        }
        .profile {
          margin-top: 5px;
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          img {
            height: 80%;
            width: 10%;
          }

          span {
            margin-left: 2%;
          }
        }
      }
    }
  }
}

.tablet,
.mobile {
  h2 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1.1rem;
  }
  .Gallery {
    .topBox {
      flex-direction: column;

      .title {
        h2 {
          font: 2rem/1 "Noto Sans KR", sans-serif;
          margin-right: 0vw;
        }

        p {
          display: none;
        }
      }

      .searchBox {
        margin-top: 30px;
      }
    }

    .picFrame {
      article {
        width: 49.5%;

        &:nth-of-type(odd) {
          padding-left: 0;
        }

        &:nth-of-type(even) {
          padding-right: 0;
        }

        .lower {
          h3 {
            font-size: 0.75rem;
          }
        }
      }
    }

    .lower {
      padding: 0px 2%;

      h3 {
        font-family: "Noto Sans KR";
        margin-top: 5px;
        font-size: 0.85rem;
      }
      .profile {
        margin-top: 5px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        img {
          height: 80%;
          width: 10%;
        }

        span {
          margin-left: 2%;
        }
      }
    }
  }
}

.tablet,
.mobile {
  .Gallery {
    .topBox {
      flex-direction: column;

      .title {
        h2 {
          font: 2rem/1 "Noto Sans KR", sans-serif;
          margin-right: 0vw;
        }

        p {
          display: none;
        }
      }

      .searchBox {
        margin-top: 30px;
      }
    }

    .picFrame {
      article {
        width: 100%;

        padding-left: 0;
        padding-right: 0;
        padding-bottom: 30px;
      }
    }
  }
}
