:root {
  --bg: #fff;
  --color: #111;

  --darkBg: #141b6a;
  --darkColor: #fff;
}

/* 
    scss 변수는 빌드시 React 웹팩에서 컴파일 되야 적용이 되므로 실시간으로 이벤트 발생시 변수에 할당을 바로 적용시키려면 일반 css 변수로 처리한 다음에 scss에 index.css에 등록되어 있는 css 변수를 연결하면 이벤트시 바로 변경점 반영
*/
