.news {
  width: 100%;
  height: 100vh;
  padding: 10vw;
  overflow: hidden;

  .postWrap {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    article {
      width: 23%;
      padding: 20px;

      h2 {
        font-weight: normal;
      }
      p {
        margin-top: 10px;
        font-weight: lighter;
        color: gray;
      }

      &:hover {
        scale: 1.05;
        box-shadow: 1px 1px 20px #ddd;
      }
    }
  }
}

.tablet,
.mobile {
  .news {
    .postWrap {
      article {
        width: 48%;
        margin-bottom: 40px;
      }
    }
  }
}

.mobile {
  .news {
    .postWrap {
      article {
        width: 100%;
        text-align: center;
      }
    }
  }
}

main.dark {
  .postWrap {
    article {
      &:hover {
        box-shadow: 1px 1px 20px rgb(0, 0, 0);
      }
    }
  }
}
