.mainMenu {
  width: 260px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  border-right: solid 2px #e5e5e5;
  z-index: 5;
  padding: 3%;

  ul {
    li {
      margin-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #000;

      &:hover {
        color: #e9e9e9;
      }
    }
  }
}
