@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
@import "../../../styles/variable.scss";

.Department {
  figure {
    background-color: lightblue;
  }
  /* SCSS 스타일을 정의합니다. */

  h2 {
    font-size: 2rem;
    font-family: "Nanum Myeongjo";
  }

  h3,
  h4 {
    font-family: "Nanum Myeongjo";
  }

  p {
    font-size: 1.1rem;
  }

  .line {
    width: 100%;
    margin: 10px 0px;
    border: solid 0.5px gray;
  }

  .memberBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;

    article {
      width: 30%;
      margin-bottom: 50px;

      .pic {
        width: 90%;
        height: 15vw;
        overflow: hidden;
        margin-top: 10px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;

          &:hover {
            scale: 1.1;
          }
        }
      }

      h4 {
        margin-top: 10px;
        color: #585858;
        font-size: "arial";
      }
      p {
        display: block;
        margin-top: 5px;
        font: 1rem/1 "arial";
        overflow: hidden;
        color: #585858;

        &:nth-of-type(1) {
          margin-top: 5px;
          a {
            &:hover {
              color: $emphasis;
            }
          }
        }
      }
    }
  }

  article.aboutBox {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 30px;
    gap: 2vw;
    .pic {
      width: 50vw;
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        filter: grayscale(1);
        object-fit: cover;
        transition: transform 0.3s;
        scale: 1.2;

        &:hover {
          filter: grayscale(0);
          transform: translateX(-25px);
        }
      }
    }

    .text {
      width: 25vw;
      h4 {
        margin: 20px 0px;
        padding-left: 20%;
        padding-right: 5%;

        font-style: "arial";
        text-indent: 0.5vw;
        font-size: 1.35rem;
        color: brown;
      }

      p {
        text-indent: 0.25vw;
        font: 1.1rem bold;
      }

      b {
        font-weight: lighter;
      }
    }
  }
}

.tablet,
.mobile {
  .Department {
    .memberBox {
      margin-top: 20px;

      article {
        width: 48%;
        margin-bottom: 40px;
        .pic {
          width: 100%;
          height: 20vw;
        }
      }
    }

    article.aboutBox {
      flex-wrap: wrap;
      .pic {
        width: 100%;
      }

      .text {
        width: 100%;

        h4 {
          margin-top: 20px;

          padding-left: 15%;
        }

        p {
          // font-size: $tableth4;
          text-indent: 1vw;
        }
      }
    }
  }
}

.mobile {
  .Department {
    .memberBox {
      article {
        width: 100%;
        margin-bottom: 20px;

        .pic {
          height: auto;
        }
      }
    }

    article.aboutBox {
      .text {
        h3 {
          margin-top: 15px;
        }
      }
    }
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
