@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

.department {
  figure {
    background-color: lightblue;
  }
  /* SCSS 스타일을 정의합니다. */

  h2 {
    font-size: 2rem;
    font-family: "Nanum Myeongjo";
  }
  h3,
  h4 {
    font-family: "Nanum Myeongjo";
  }
  p {
    font-size: 1.1rem;
  }
  .line {
    width: 100%;
    margin: 10px 0px;
    border: solid 0.5px gray;
  }

  .memberBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;

    article {
      width: 30%;
      margin-bottom: 50px;

      &:hover {
        scale: 1.1;
      }

      .pic {
        width: 100%;
        height: 20vw;
        overflow: hidden;
        margin-top: 10px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;

          &:hover {
            scale: 1.1;
          }
        }
      }

      h4 {
        margin-top: 10px;
        color: #585858;
        font-size: "arial";
      }
      p {
        display: block;
        margin-top: 5px;
        font: 1rem/1 "arial";
        overflow: hidden;
        color: #585858;

        &:nth-of-type(1) {
          margin-top: 5px;
          a {
            &:hover {
              color: #995454;
            }
          }
        }
      }
    }
  }

  .aboutBox {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 30px;
    gap: 2vw;
    // justify-content: space-between;
    .pic {
      width: 50vw;
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        filter: grayscale(1);
        object-fit: cover;
        transition: transform 0.3s;
        scale: 1.2;

        &:hover {
          filter: grayscale(0);
          transform: translateX(-25px);
        }
        // object-fit: contain;
      }
    }

    .text {
      width: 25vw;
      // display: flex;
      // flex-wrap: wrap;
      // align-content: space-between;

      h4 {
        margin: 20px 0px;
        padding-left: 20%;
        padding-right: 5%;

        font-style: "arial";
        text-indent: 0.5vw;
        font-size: 1.35rem;
        color: brown;
      }

      p {
        text-indent: 0.25vw;
        font: 1.1rem bold;
      }

      b {
        font-weight: lighter;
      }
      // .innerText {
      //   margin: 30px 0px;
      //   // width: 70%;
      //   display: flex;
      //   justify-content: center;
      //   padding: 5%;
      //   h4 {
      //     // width: 70%;
      //     text-align: center;
      //     text-indent: 0.5vw;
      //     word-break: break-all;
      //   }
      // }
      // h4 {
      //   margin-top: 24px;
      //   text-align: right;
      //   // width: 70%;
      //   right: 0;
      // }
      // p {
      //   display: block;
      // }
    }
    // .pic {
    //   width: 60%;
    //   height: 30vh;
    //   // background: #000;
    //   img {
    //     width: 100%;
    //     height: 100%;
    //     object-fit: contain;
    //   }
    // }

    // .text {
    //   width: 40vw;
    // }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    // transform: none;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
